---
import Layout from '../layouts/Layout.astro';
import Hola from '@components/Hola.astro';
import Hola2 from '@components/Hola2.astro';
import TestHeadings from '@test/Headings.astro';
---

<Layout>
	<div class="flex justify-center items-center flex-col my-20 gap-6">

		<TestHeadings />
	</div>
	
</Layout>
