---
import Layout from '../layouts/Layout.astro';

import TestHeadings from '@test/Headings.astro';
import CheckBoxs from '@test/CheckBoxs.astro';
---

<Layout>
	<div class="my-20 flex flex-col items-center justify-center gap-6">
		<TestHeadings />
		<CheckBoxs />
	</div>
</Layout>
